@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Rubik:wght@600;700&family=Ubuntu:wght@700&display=swap");

/* 
thing rhema doesn't understand will have 🙋‍♂️ on it or the element
selector
*/


/* RESETS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --light-lime: #abd699;
  --fresh-lemon: #ffe260;
  --teal: hsl(167, 44%, 62%);
  --mint: hsl(134, 24%, 82%);
  --navy: hsl(245, 56%, 16%);
  --white: hsl(0, 0%, 100%);
  --black: #000;
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  background-color: hsla(102, 43%, 72%, 1);

}

/* 🙋‍♂️ What does this do?? */
.noscroll {
  overflow: hidden;
}

/* HEADER */
.overlay {/*🙋‍♂️*/
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0; 
  bottom: 0;
  left: 0;
  background-image: linear-gradient(#49673c, transparent);
}

.overlay {
  display: block;
}

nav {
  /* position: relative; */
  /* background-color: hsla(82, 43%, 72%, 1); */
  /* align-items: center; */
  /* padding: 2rem 15rem 2rem 4rem; */
  display: flex;
  justify-content: space-between;
  margin: 2em auto;
  width: 94%;
}

header nav ul {
  display: flex;
  justify-content: center;
}

header nav li:not(:last-child) {
  margin-right: 4.8rem;
}

.logo {
  font-family: "Ubuntu", sans-serif;
  font-size: 3rem;
  color: var(--navy);
}

header nav ul li a {
  color: var(--navy);
}

header nav ul li {
  position: relative;
}

a:hover {
  color: #000;
  /* background: #fff; */
  border-radius: 0.5rem;
}

/* HAMBURGER MENU STYLING */
.toggle {
  display: none;
  cursor: pointer;
}

.toggle span {
  display: block;
  width: 2.6rem;
  height: 0.3rem;
  background-color: #1f1f1f;
  transition: all ease-in-out 200ms;
  transform-origin: 0.15rem 0.15rem;
}

.toggle span:not(:last-child) {
  margin-bottom: 0.5rem;
}

.open .toggle > span:first-child {
  transform: rotate(45deg);
}

.open .toggle > span:nth-child(2) {
  opacity: 0;
}

.open .toggle > span:last-child {
  transform: rotate(-45deg);
}

/* ANIMATIONS */
.has-fade {
  visibility: hidden;
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }

  1% {
    visibility: visible;
    opacity: 0;
  }

  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 200ms ease-in-out forwards;
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }

  99% {
    visibility: visible;
    opacity: 0;
  }

  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  animation: fade-out 200ms ease-in-out forwards;
}

/* MOBILE MENU TOOGLE */
.menu {
  position: absolute;
  width: calc(100% - 5rem);
  left: 50%;
  transform: translateX(-50%);
  background: white;
  padding: 2.6rem;
  margin-top: 2.4rem;
  border-radius: 0.5rem;
}

.menu a {
  display: block;
  color: var(--navy);
  padding: 1rem;
  text-align: center;
}

/* MEDIA QUERY FOR THE NAVBAR MOBILE VIEW PORT */

@media (max-width: 800px) {
  nav {
    padding: 2rem 2.5rem;
  }

  nav ul {
    display: none;
  }

  .toggle {
    display: block;
  }
}

/* THE EQUILVALENT PADDING LEFT AND RIGHT OF THE NAV TO THE BODY */
/* main {
  margin: 50px 100px 0;
} */

.hero-section {
  background-color: #abd699;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 50px 100px 2.5rem;
}

.text {
  text-align: left;
  grid-row: 3/1;
}

.text > h1 {
  line-height: 1.1;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 5.6rem;
  color: var(--white);
}

.text p {
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.image {
  width: 100%;
}

.image img {
  height: 100%;
  width: 100%;
}

.text button {
  display: flex;
  align-items: center;
  background-color: hsla(102, 43%, 72%, 1);
  color: var(--navy);
  border: 1px solid #546464;
  padding: 10px 15px;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
}

 /* .text button:hover {
  border: 1px solid white;
}  */

.svg {
  background-image: url(Image/arrow-and-circle.svg);
  background-size: cover;
  margin-left: 10px;
  width: 30px;
  height: 30px;
  transition: all 0.3s ease-in-out;
}

.svg:hover {
  background-image: url(Image/arrow.svg);
}

@media (min-width: 800px) {
  .hide-from-desktop {
    display: none;
  }
}

@media (max-width: 800px) {
  main {
    margin: 50px 20px 0;
  }

  .hero-section {
    grid-template-columns: 1fr;
  }

 .text {
    text-align: center;
    grid-row: 3/4;
  } 

  .text button {
    margin: 0 auto;
  }

 .text .hide-from-desktop {
    font-size: 3.59rem;
  }

  .hide-from-mobile {
    display: none;
  }
}


/* ABOUT SECTION */

.about-section {
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 100vw;
  background-color: #fff;
}

.wrapper {
  display: inline-flex;
  padding: 1%;
  justify-content: center;
  gap: 10px;
  padding-right: 45px;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}

.wrapper .static-text {
  color: #000;
  font-size: 52px;
  font-weight: 700;
}

.wrapper .dynamic-text {
  margin-left: 5px;
  margin-top: 5px;
  line-height: 52px;
  height: 52px;
  overflow: hidden;
}

.dynamic-text li {
  color: #abd699;
  list-style: none;
  font-size: 52px;
  font-weight: 700;
  position: relative;
  top: 0;
  animation: slide 15s ease infinite;
}

@keyframes slide {
  100% {
    top: -360px;
  }
}

.dynamic-text li span {
  position: relative;
}

.dynamic-text li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: transparent;
  /* border-left: 2px solid #f7db08; */
  animation: slide 5s steps(20) infinite;
}